* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/*SECTION NAVIAGTION PART*/

header {
  position: relative;
  bottom: 25rem;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2em;
  color: #f9f9f9;
  pointer-events: none;
  margin-right: 270px;
}
.world-icon {
  width: 2.5rem;
  margin-bottom: -9px;
}

.navigation a {
  text-decoration: none;
  color: #f9f9f9;
  padding: 6px 15px;
  border-radius: 20px;
  font-weight: 600;
  margin: 0 10px;
}
.navigation a:hover {
  background-color: #b1f0f7;
  color: #f9f9f9;
}

.search-icon {
  width: 2rem;
  cursor: pointer;
}

/*SECTION HERO PART*/

.hero-content {
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #f9f9f9;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 30px;
  color: #f9f9f9;
}

.cta-button {
  text-decoration: none;
  background-color: #ff6347;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1rem;
}

.cta-button:hover {
  background-color: #e5533d;
}

.hero {
  background-image: url("imges/best-travel-desktop-wlbfkyis81e0578u.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 25rem;
}

/*SECTION COUNTRIES PART*/

.section-countries {
  background-image: url(imges/cover.jpg);
}

.container-text-center {
  text-align: center;
  padding-top: 2.5rem;
}

.subheading {
  padding-top: 2.5rem;
  text-transform: uppercase;
}
.heading-secondary {
  padding-top: 2.5rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.country-name {
  text-transform: uppercase;
  padding-left: 150px;
}

.cards {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.card {
  background-position: left;
  background-repeat: no-repeat;
  width: 250px;
  justify-content: center;
  align-items: center;
  padding-top: 25rem;
  padding-left: 1rem;
  color: #f9f9f9;
}

.card-text {
  padding-bottom: 10rem;
}

.content1 {
  background-image: url(imges/card2.jpg);
}
.content2 {
  background-image: url(imges/card2.jpg);
}

.content3 {
  background-image: url(imges/card2.jpg);
}

.content4 {
  background-image: url(imges/card2.jpg);
}

/*SECTION LAST PART*/

.section-last {
  background-image: url(imges/360_F_134537443_VendrqyXIWyHrZgxdIsfyKUost734JDP.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.grid-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: aliceblue;
}

.grid-heading h1 {
  font-size: 50px;
}

.grid-heading p {
  padding-top: 10rem;
}

.grid-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-top: 300px;
}

.grid-images img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
